html, body{
  height: 100%;
  min-width: 320px;
}

html{
  overflow-y: scroll;
}

body{
  line-height: 1.42857143;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: rem($font-size);
  color: $white;
  background-color: $black;
  background-image: url('./images/carbon.png');
  background-attachment: fixed;
  &.pmx-modal-open{
    overflow: hidden;
  }
}

textarea{
  resize: vertical;
}