
.icon-spin5:before { content: '\e800'; } /* '' */
.icon-spin4:before { content: '\e801'; } /* '' */
.icon-spin6:before { content: '\e802'; } /* '' */
.icon-youtube-play:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-stop:before { content: '\e806'; } /* '' */
.icon-pause:before { content: '\e807'; } /* '' */
.icon-youtube:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-facebook-squared:before { content: '\e80a'; } /* '' */
.icon-play-circled:before { content: '\e80b'; } /* '' */
.icon-play-circled2:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-resize-full:before { content: '\e80e'; } /* '' */
.icon-resize-small:before { content: '\e80f'; } /* '' */
.icon-zoom-in:before { content: '\e810'; } /* '' */
.icon-zoom-out:before { content: '\e811'; } /* '' */
.icon-ok:before { content: '\e812'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-infinity:before { content: '\e814'; } /* '' */
.icon-gamepad:before { content: '\e815'; } /* '' */
.icon-heart:before { content: '\e816'; } /* '' */
.icon-heart-empty:before { content: '\e817'; } /* '' */
.icon-star:before { content: '\e818'; } /* '' */
.icon-star-empty:before { content: '\e819'; } /* '' */
.icon-star-half:before { content: '\e81a'; } /* '' */
.icon-star-half-alt:before { content: '\e81b'; } /* '' */
.icon-cancel-circled:before { content: '\e81c'; } /* '' */
.icon-cancel-circled2:before { content: '\e81d'; } /* '' */
.icon-help:before { content: '\e81e'; } /* '' */
.icon-help-circled:before { content: '\e81f'; } /* '' */
.icon-info-circled:before { content: '\e820'; } /* '' */
.icon-info:before { content: '\e821'; } /* '' */
.icon-home:before { content: '\e822'; } /* '' */
.icon-link:before { content: '\e823'; } /* '' */
.icon-lock:before { content: '\e824'; } /* '' */
.icon-lock-open:before { content: '\e825'; } /* '' */
.icon-lock-open-alt:before { content: '\e826'; } /* '' */
.icon-eye:before { content: '\e827'; } /* '' */
.icon-eye-off:before { content: '\e828'; } /* '' */
.icon-down-open:before { content: '\e829'; } /* '' */
.icon-left-open:before { content: '\e82a'; } /* '' */
.icon-right-open:before { content: '\e82b'; } /* '' */
.icon-up-open:before { content: '\e82c'; } /* '' */
.icon-angle-circled-left:before { content: '\e82d'; } /* '' */
.icon-angle-circled-right:before { content: '\e82e'; } /* '' */
.icon-angle-circled-up:before { content: '\e82f'; } /* '' */
.icon-angle-circled-down:before { content: '\e830'; } /* '' */
.icon-instagram:before { content: '\e831'; } /* '' */
.icon-android:before { content: '\e832'; } /* '' */
.icon-appstore:before { content: '\e833'; } /* '' */
.icon-windows:before { content: '\e834'; } /* '' */
.icon-book:before { content: '\e835'; } /* '' */
.icon-mail:before { content: '\e836'; } /* '' */
.icon-picture:before { content: '\e837'; } /* '' */
.icon-picture-1:before { content: '\e838'; } /* '' */
.icon-graduation-cap:before { content: '\e839'; } /* '' */
.icon-circle:before { content: '\e83a'; } /* '' */
.icon-video:before { content: '\e83b'; } /* '' */
.icon-video-1:before { content: '\e83c'; } /* '' */