/*  COLORS
************************/
$red: #EA6969;
$orange: #FC6000;
$light-orange: #FDAF71;
$yellow: #E6BC2F;
$green: #6ABF6A;
$light-blue: #30A7D7;
$blue: #1B53BA;

/*  GRAY SCALE
************************/
$white: #fff;
$light-gray: #919191;
$gray: #353535;
$black: #252525;

$modal-background-color: rgba(0,0,0,0.85);

/*  SIZES
************************/
$font-size: 16; /*root font-size in px*/
$font-size-title:  35px;
$font-size-title2: 25px;
$font-size-title3: 21px;
$radius: 3px;
$mq-mobile  : 768px !default;
$page-max-width: 1200px;

$main-menu-height: 330px;
$header-social-width: calc(100% - 180px);
$footer-height: 240px;