.pmx-breadcrumbs{
  font-size: rem(12);
  opacity: 0.7;
  @include mobile-only{
    font-size: rem(10);
  }
  a {
    color: $white;
  }
  .breadcrumb_last{
    pointer-events: none;
    font-weight: bold;
  }
}

.pmx-post-list-nav{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  .pmx-post-list-item{
    max-width: 50%;
    &:hover{
      text-decoration: underline;
      opacity: 0.5;
    }
    &:last-child{
      text-align: right;
    }
    a{
      color: $orange;
      text-decoration: none;
    }
    .icon{
      margin: -7px;
    }
    .pmx-post-list-title{
      color: $white;
      font-size: rem(12);
      opacity: 0.75;
    }
  }
}


.pmx-post-list{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  .pmx-post-list-item{
    transition: all 0.5s ease;
    &:hover{
      opacity: 0.7;
      .pmx-post-preview-excerpt {
        text-decoration: underline;
      }
    }
    a{
      text-decoration: none;
      color: $white;
    }
    .pmx-post-preview-title{
      font-size: rem(21);
    }
    .pmx-post-list-thumbnail{
      width: 100%;
    }
    .pmx-post-preview-title, .pmx-post-preview-excerpt{
      word-break: normal;
    }
    .pmx-post-preview-excerpt{
      font-size: rem(14);
    }
  }
  &.pmx-featured-list{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    .pmx-post-preview-excerpt{display: none;}
    .pmx-post-list-item{
      position: relative;
      display: inline-block;
      .pmx-post-preview-title{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        background-color: rgba(0,0,0,0.8);
        color: $white;
      }
    }
    @include desktop-only{
      height: 570px;
    }
    @include tablet-only{
      height: 500px;
    }
    @media only screen and (max-width : 425px) {
      .pmx-post-list-item{
        width: 100%;
        .pmx-post-preview-title{
          font-size: rem(14);
        }
      }
    }
    @media only screen and (min-width : 424px) and (max-width: 550px){
      .pmx-post-list-item{
        width: calc(50% - 2px);
        .pmx-post-preview-title{
          font-size: rem(10);
        }
      }
    }
    @media only screen and (min-width : 549px) and (max-width: 768px){
      .pmx-post-list-item{
        width: calc((100% / 3) - 2.65px);
        &:first-child{
          width: 100%;
        }
        &:not(:first-child){
          .pmx-post-preview-title{
            font-size: rem(10);
          }
        }
      }
    }
    @include not-smartphone{
      .pmx-post-list-item{
        width: 30%;
        height: calc(100% / 3);
        float: left;
        &:first-child{
          height: 100%;
          width: calc(70% - 5px);
          margin-right: 5px;
        }
        &:not(:first-child){
          .pmx-post-preview-title{
            font-size: rem(14);
          }
        }
        .pmx-post-list-thumbnail{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        .pmx-post-preview{
          height: 100%;
        }
      }
    }

  }
  &.pmx-small-list{
    justify-content: flex-start;
    .pmx-post-list-item{
      width: 100%;
      margin-bottom: 20px;
      &:first-child{
        margin-bottom: 40px;
      }
      &:not(:first-child){
        .pmx-post-list-thumbnail{
          width: 40%;
        }
        .pmx-post-preview-excerpt{
          display: none;
        }
        .pmx-post-preview-title{
          display: inline-block;
          width: 58%;
          vertical-align: top;
          color: $white;
          font-family: "Roboto";
          font-size: rem(14);
        }
      }
    }
  }
  &.pmx-full-page-list{
    justify-content: flex-start;
    .pmx-post-list-item{
      margin-right: 20px;
      margin-bottom: 50px;
      @media only screen and (min-width : 1075px) {
        flex-basis: calc((100%/4 - 20px) + (20px/4));
        &:nth-child(4n){
          margin-right: 0;
        }
      }
      @media only screen and (max-width : 1074px) and (min-width: 886px){
        flex-basis: calc((100%/3 - 20px) + (20px/3));
        &:nth-child(3n){
          margin-right: 0;
        }
      }
      @media only screen and (max-width : 885px) and (min-width : 470px) {
        flex-basis: calc((100%/2 - 20px) + (20px/2));
        &:nth-child(2n){
          margin-right: 0;
        }
      }
      @media only screen and (max-width : 469px) {
        flex-basis: calc((100%/1));
        margin-right: 0;
      }

    }
  }
}


/***************************
    CONTAINERS
***************************/
.main-header, .main-container{
  margin: 0 auto;
  padding: 0 10px;
  width: calc(100% - 20px);
}

.page-container{
  position: relative;
  min-height: 100%;
}

.main-container{
  max-width: $page-max-width;
  padding-top: 20px;
  padding-bottom: $footer-height+20px;

  @include mobile-only{
    padding-top: 55px;
  }
}

.main-content{
  border: 1px solid $white;
  border-radius: $radius;
  padding: 10px;

  background-color: $black;
}

.clear{
  clear: both;
}



/***************************
    HEADERS
***************************/
.pmx-h1{
  margin: 20px 0;
  font-size: $font-size-title;
  @include mobile-only{
    text-align: center;
  }
}

.pmx-h2{
  font-size: $font-size-title2;
}

.pmx-h3{
  font-size: $font-size-title3;
}

.pmx-h1, .pmx-h2, .pmx-h3{
  color: $orange;
  font-family: 'Merienda';
}



/***************************
    LISTS
***************************/
.social-list{
  .social-list-item{
    display: inline-block;
    .icon{
      color: $white;
    }
  }
}




/***************************
    BUTTONS
***************************/
.pmx-btn{
  padding: 10px 20px;
  border-color: transparent;
  border-radius: $radius;

  cursor: pointer;
  font-weight: bold;

  &.pmx-primary{
    background-color: $orange;
    color: $white;
  }
}