.main-menu{
  z-index: 60;
  margin-top: -5px;
  .main-menu-trigger-check{
    display: none;
    @include mobile-only{
      &:checked + .main-menu-trigger{
        opacity: 0.75;
        + .menu-main-menu-container {
          #menu-main-menu {
            height: $main-menu-height;
            box-shadow: black 0px 4px 8px;
          }
        }

        .menu-trigger-icon{

        }
        .menu-trigger-bar{
          border-radius: 50px;
          &:first-child{
            transform: rotate(135deg) translate(4px, -4px);
          }
          &:nth-child(2){
            transform-origin: center;
            transform: scale(0);
          }
          &:last-child{
            transform: rotate(-135deg) translate(6px,6px);
          }
        }

      }
    }
  }


  @include mobile-only{
    position: absolute;
    top: 100%;
    width: calc(100% - 20px);

    .main-menu-trigger{
      display: block;
      padding: 10px;
      transition: opacity 0.5s ease;
      background-color: $gray;
      height: 22px;
      .menu-trigger-icon{
        display: inline-block;
        height: 22px;
        width: 22px;
      }
      .menu-trigger-bar{
        height: 3px;
        width: 100%;
        margin: 4px 0;
        background-color: $white;
        transition: all 0.5s ease;
      }
    }
  }
  @include desktop-only{
    .main-menu-trigger{
      display: none;
    }
  }
  #menu-main-menu{
    width: 100%;
    @include desktop-only{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: stretch;
      justify-content: space-around;
    }
    @include mobile-only{
      height: 0;
      overflow: hidden;

      transition: height 0.5s;
    }
    .menu-item{
      border: 1px solid black;

      background-color: $black;

      transition: background-color 0.5s;
      &:hover{
        cursor: pointer;
        background-color: $orange;
      }

      @include desktop-only{
        width: 100%;
        text-align: center;
      }

      @include mobile-only{
        padding-left: 10px;
      }

      a{
        display: inline-block;
        width: 100%;
        padding: 10px 0;

        color: $white;
        text-decoration: none;
      }
    }
  }

  .current_page_item, .current-menu-item, .current-post-parent{
    background-color: $orange !important;
    pointer-events: none !important;
  }
}

