.navigation.pagination{
  text-align: center;
  margin: 10px 0;
  .nav-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .page-numbers{
    display: inline-block;
    text-decoration: none;
    color: $white;

    background-color: $orange;
    cursor: pointer;
    padding: rem(9) 0;
    width: 40px;

    transition: all 0.3s ease;

    &.prev, &.next{
      color: $orange;
      background-color: #000;
    }
    &:hover, &.current{
      opacity: 0.5;
    }
    &.current, &.dots{
      pointer-events: none;
    }
  }
}