.post + .social-list-share{
  margin-top: 40px;
}


.social-list-share{
  &::before{
    content: "Compatilhe: ";
    display: inline-block;
  }
  .social-list{
    display: inline-block;
  }
  .social-list-item{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      left: 4px;
      top: 15px;
      width: 22px;
      height: 23px;
      border-radius: 5px;
      background-color: $white;
      z-index: 1;
    }
  }
  .fa{
    position: relative;
    z-index: 2;
    font-size: rem(30);
    margin: 10px 2px;
  }

  .fa-facebook-official{  color: #3b5998; }
  .fa-twitter-square{     color: #1da1f2; }
  .fa-google-plus-square{ color: #dd4b39; }
  .fa-linkedin-square{    color: #0077b5; }
  .fa-pinterest-square{   color: #bd081c; }
}